   
  $colorsFeaters: "#F44336", "#3F51B5", "#4CAF50", "#00BCD4", "#E91E63", "#009688";
  
   $colors: "#795548", "#607D8B", "#7B1FA2";

   $mobile: 480px;

   $tablet: 768px;

   $desktop: 1200px;

%list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  %link {
    text-decoration: none;
    color: currentColor;
  }
  @mixin colorize($colors, $baseSelector) {
    @each $color in $colors {
      $idx: index($colors, $color);
  
      #{$baseSelector}:nth-child(#{$idx}) {
        background-color: #{$color};
      }
    }
  }  

  @include colorize($colors, ".reviews-item");

  @include colorize($colorsFeaters, ".features-item");

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid 2px green;
    @media screen and (max-width: 767px) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
  }
  .reviews-set {
    @extend %list;
    display: flex;
    @media screen and (min-width: $mobile) {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  }
  
  .reviews-item {
    text-align: center;
    padding: 40px;
    color: #fff;
    font-size: 48px;
    width: 33.3333%;
  }

  .section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.section {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .section-title {
    margin-top: 0;
    margin-bottom: 24px;
  }
  
  .features-set {
    @extend %list;
    @media screen and (min-width: $tablet){
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  
  .features-item {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 32px;
    @media screen and (min-width: $tablet){
      flex-basis: calc((100% - 10px) / 2);
    }
    @media screen and (min-width: $desktop){
      flex-basis: calc((100% - 10px) / 3);
    }
  }
  
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
 
  }

  .navigation{
    @media screen  and (min-width: $tablet){
     display: flex;
     flex-direction: column;
    }
    @media screen and (max-width: 767px){
      display: none;
    }
  }