/* Practice */
.btn{
    display: inline-block;
    width: 150px;
    color: aqua;
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    padding: 15px;
}

span{
    width: 25px;
    height: 25px;
    background-color: red;
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}

.box{
    width: 600px;
    border: 2px solid green;
    padding: 30px;
}

p{
    border: 2px dashed green;
    padding: 20px;
}

p:first-child{
    margin-bottom: 10px;
}
/* hw 1 */
.button{
    display: inline-block;
    width: 350px;
    height: 220px;
    background-color: green;
    border: 2px dashed  red ;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
/* hw 2 */
.profile-image{
    margin-bottom: 30px;
}

.profile-name{
    margin-bottom: 30px;
}

.social-links{
    margin-bottom: 30px;
}

.link{
    margin-right: 20px;
}

.list {
    padding: 0; 
   display: flex; 
    list-style: none;
 }

  .list-item {
   width: 350px; 
   margin: 10px; 
   padding: 10px; 
   border-radius: 4px; 
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 1px 3px rgba(0, 0, 0, 0.12); 
 }

.list-item > .title {
   margin-top: 0;
 }
 
 .list-item > .text {
   margin-top: 0;
   margin-bottom: 0;
 }

 .list-item::before{
    display: block;
    content: '';
    height: 100px;
    background-color: aqua;
    background-image: url(./img/rocket-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
 }

.icon-mobile::before{
    background-image: url(./img/turtle.png);
}

.icon-code::before{
    background-image: url(./img/delivery-icon.png);
}

.bg-box::before{
    display: block;
    content: '';
    width: 1396px;
    height: 880px;
    background-color: #0ea900;
    background-image: url(./img/house.png), url(./img/tree-icon-1550.jpg), url(./img/lamp-png-34914.png), url(./img/hedgehog.png), url(./img/donut.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center, bottom, top, left, right;
    background-size: 500px, 150px, 70px, 70px, 70px;
}