/* Practice */
.btn{
    display: inline-block;
    width: 150px;
    color: aqua;
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    padding: 15px;
}

span{
    width: 25px;
    height: 25px;
    background-color: red;
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}
/* 
.box{
    width: 600px;
    border: 2px solid green;
    padding: 30px;
} */

img{
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    border: 2px dashed green;
    padding: 20px;
    width: 350px;
    height: 100px;
}

p:first-child{
    margin-bottom: 10px;
}
/* hw 1 */
.button{
    display: inline-block;
    width: 350px;
    height: 220px;
    background-color: green;
    border: 2px dashed  red ;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 50%;
}
/* hw 2 */
.profile-image{
    margin-bottom: 30px;
}

.profile-name{
    margin-bottom: 30px;
}

.social-links{
    margin-bottom: 30px;
}

.link{
    margin-right: 20px;
}

.list {
    padding: 0; 
   display: flex; 
    list-style: none;
 }

  .list-item {
   width: 350px; 
   margin: 10px; 
   padding: 10px; 
   border-radius: 4px; 
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 1px 3px rgba(0, 0, 0, 0.12); 
 }

.list-item > .title {
   margin-top: 0;
 }
 
 .list-item > .text {
   margin-top: 0;
   margin-bottom: 0;
 }

 .list-item::before{
    display: block;
    content: '';
    height: 100px;
    background-color: aqua;
    background-image: url(./img/rocket-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
 }

.icon-mobile::before{
    background-image: url(./img/turtle.png);
}

.icon-code::before{
    background-image: url(./img/delivery-icon.png);
}

.bg-box::before{
    display: block;
    content: '';
    width: 1396px;
    height: 880px;
    background-color: #0ea900;
    background-image: url(./img/house.png), url(./img/tree-icon-1550.jpg), url(./img/lamp-png-34914.png), url(./img/hedgehog.png), url(./img/donut.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center, bottom, top, left, right;
    background-size: 500px, 150px, 70px, 70px, 70px;
    border-radius: 50%;

}

/* multibg */

.overlay{
    width: 1600px;
    height: 480px;
    outline: solid red 2px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to bottom right, red 30%, blue 50%);
}

.container{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    width: 1500px;
    gap: 50px;
}

.box{
    flex-basis: calc((100% - 50px) / 2);
    outline: solid 2px red;
    height: 200px;
    box-shadow: 21px 50px 35px 15px rgb(10, 0, 0),
    10px 30px 5px 10px rgb(161, 19, 19);
}

.label {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 8px 16px;
    border-bottom-left-radius: 4px;
    font-family: sans-serif;
    font-size: 24px;
    background-color: #2196f3;
    color: #fff;
  }

  .thumb{
    position: relative;
    width: 640px;
    margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

.chat-button{
    position: fixed;
    bottom: 50px;
    right: 50px;
  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-size: contain;

  cursor: pointer;
}

.stiky-title{
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: #d000ff;
}

.text-span{
    position: absolute;
    background-color: #00ff33;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 100px;
    margin: 0 auto;
}
span{
    position: absolute;
    right: 0;
    bottom: 0;
}

.div{
    border: solid 5px purple;
    width: 460px;
    border-radius: 60px;
    overflow: hidden;
}

.second-div{
    display: flex;
}

p:nth-child(1){
    overflow: scroll;
}

p:nth-child(2){
    overflow: auto;
}

p:nth-child(3){
    overflow: hidden;
}

p:nth-child(4){
    overflow: visible;
}

/* animation */

.animation-box{
    width: 200px;
    height: 200px;
    background-color: #fffb00;
    margin-left: 200px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    /* transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(1,.24,.46,.88);
    transition-delay: 500ms; */
    transition: background-color 250ms cubic-bezier(1,.24,.46,.88),
    color 250ms cubic-bezier(1,.24,.46,.88) 250ms, transform 250ms;
    /* transform: scale(1); */
    position: relative;
    overflow: hidden;
}

.animation-box:hover{
    background-color: #2196f3;
    color: #ff0000;
    /* transform: scale(0.5) rotate(180deg); */
}

.second-box{
    width: 50px;
    height: 50px;
    background-color: #00ff33;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-70px);
    transition: transform 600ms;
}

.animation-box:hover .second-box{
    transform: translateX(70px);
}